<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mental Health Checking System</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='Designer_2.png') }}" alt="Logo" class="logo">
        <h1>Mental Health Checking System</h1> 
        <form method="POST" id="quiz-form">
            {% for question in quiz_questions %}
            <div class="question" id="question-{{ loop.index }}" style="display: none;">
                <p>{{ question.text }}</p>
                {% for option in question.options %}
                <div>
                    <label>
                        <input type="radio" class="option" name="q{{ loop.index }}" value="{{ option }}" required> {{ option }}
                    </label>
                </div>
                {% endfor %}
                {% if loop.index < quiz_questions|length %}
                    <button type="button" class="next-button" data-question="{{ loop.index }}">Next</button>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" id="quiz-submit" style="display: none;">Submit</button>
        </form>

        <div class="video-feed-container">
            <video id="video" autoplay></video>
        </div>

        <div id="result-container" style="display: none;">
            <p id="result-text"></p>
            <img id="emotion-graph" src="" alt="Emotion Analysis Graph" style="max-width: 100%; height: auto;">
            <canvas id="emotion-chart" width="600" height="400"></canvas>
        </div>
    </div>
    <script src="{{ url_for('static', filename='quiz.js') }}"></script>
</body>

</html>